body{
    width: 1350px;
    height: 550px;
    display: flex;
    justify-content: center; 
    align-items: center; 
}



.login {
    width: 300px;
    height: 350px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #bdbdbd;
    border-radius: 30px;
}



.titleOne {
    font-family: Noto sans-serif;
    font-size: 20px;
    color: #333;
}



.email {
    width: 250px;
    height: 20px;
}
.password {
    width: 250px;
    height: 20px;
}
.start {
    width: 260px;
    height: 20px;
    color: white;
    background-color: blue;
    border: none;
}


.social {
    display: flex;
}
.already {
    display: flex;
}
.inicio {
    background-color: white;
    border: none;
    color: blue;
}