body{
    width: 1350px;
    height: 630px;
    display: flex;
    justify-content: center; 
    align-items: center; 
}



.register {
    width: 300px;
    height: 450px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    border: 1px solid #bdbdbd;
    border-radius: 30px;
}


.modeRe{
    display: flex;
    justify-content: right;
    color: #bdbdbd;
}
.modeRe svg {
    width: 20px;
    height: 20px;
}
.modeDoC {
    border: 1px solid #bdbdbd;
    border-radius: 7px;
    background-color: white;
}
.titleRegister {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: #333;
    margin-bottom: 5px;
}
.subRegister {
    font-size: 15px;
    font-family: 'Noto Sans', sans-serif;
}



.infoRegister {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.emailRe {
    width: 260px;
    height: 30px;
    padding: 5px;
    font-size: 12px;
    border-radius: 7px;
    border: 1px solid #bdbdbd;
    padding-left: 35px;
}
.iconEmail {
    position: relative;
}
.iconEmail svg {
      position: absolute;
      color: #bdbdbd;
      top: 50%;
      left: 10px;
      transform: translateY(-50%);
}
.passRe {
    width: 260px;
    height: 30px;
    padding: 5px;
    font-size: 12px;
    border-radius: 7px;
    border: 1px solid #bdbdbd;
    margin-bottom: 12px;
    padding-left: 35px;
}
.iconPass {
    position: relative;
}
.iconPass svg {
    position: absolute;
    color: #bdbdbd;
      top: 40%;
      left: 10px;
      transform: translateY(-50%);
}
.start {
    width: 307px;
    height: 33px;
    color: white;
    background-color: #2F80ED;
    border: none;
    border-radius: 5px;
}




.subTiRegister {
    display: flex;
    justify-content: center;
    font-family: 'Noto Sans', sans-serif;
    font-size: 13px;
    color:#bdbdbd;
}
.socialRegister {
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
    gap: 20px;
}
.googleRe {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #bdbdbd;
    border-radius: 30px;
    color: #bdbdbd;
}
.facebookRe {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #bdbdbd;
    border-radius: 30px;
    color: #bdbdbd;
}
.twitterRe {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #bdbdbd;
    border-radius: 30px;
    color: #bdbdbd;
}
.githubRe {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #bdbdbd;
    border-radius: 30px;
    color:#bdbdbd ;
}
.already {
    display: flex;
    justify-content: center;
    color:#bdbdbd;
    font-family: 'Noto Sans', sans-serif;
    font-size: 13px;
}
.methodRe {
    margin: 0;
    display: flex;
    align-items: center;
}
.inicio {
    background-color: white;
    border: none;
    color: #2F80ED;
    font-family: 'Noto Sans', sans-serif;
    font-size: 13px;
}



@media (max-width: 600px) {
    body{
        width: 370px;
        height: 660px;
        display: flex;
        justify-content: center; 
        align-items: center; 
    }

    .register {
        width: 370px;
        height: 600px;
        padding: 50px;
        display: flex;
        flex-direction: column;
        border: none;
        gap: 15px;
    }

    .modeRe{
        display: flex;
        justify-content: right;
        color: #bdbdbd;
    }
    .modeRe svg {
        width: 20px;
        height: 20px;
    }
    .modeDoC {
        border: 1px solid #bdbdbd;
        border-radius: 7px;
        background-color: white;
    }
    .titleRegister {
        font-family: 'Raleway', sans-serif;
        font-size: 20px;
        color: #333;
        margin-bottom: 5px;
    }
    .subRegister {
        font-size: 15px;
        font-family: 'Noto Sans', sans-serif;
    }
    
    
    
    .infoRegister {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .emailRe {
        width: 260px;
        height: 30px;
        padding: 5px;
        font-size: 12px;
        border-radius: 7px;
        border: 1px solid #bdbdbd;
        padding-left: 35px;
    }
    .iconEmail {
        position: relative;
    }
    .iconEmail svg {
          position: absolute;
          color: #bdbdbd;
          top: 50%;
          left: 10px;
          transform: translateY(-50%);
    }
    .passRe {
        width: 260px;
        height: 30px;
        padding: 5px;
        font-size: 12px;
        border-radius: 7px;
        border: 1px solid #bdbdbd;
        margin-bottom: 12px;
        padding-left: 35px;
    }
    .iconPass {
        position: relative;
    }
    .iconPass svg {
        position: absolute;
        color: #bdbdbd;
          top: 40%;
          left: 10px;
          transform: translateY(-50%);
    }
    .start {
        width: 307px;
        height: 33px;
        color: white;
        background-color: #2F80ED;
        border: none;
        border-radius: 5px;
    }
    
    
    
    
    .subTiRegister {
        display: flex;
        justify-content: center;
        font-family: 'Noto Sans', sans-serif;
        font-size: 13px;
        color:#bdbdbd;
    }
    .socialRegister {
        display: flex;
        justify-content: center;
        margin-bottom: 12px;
        gap: 20px;
    }
    .googleRe {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #bdbdbd;
        border-radius: 30px;
        color: #bdbdbd;
    }
    .facebookRe {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #bdbdbd;
        border-radius: 30px;
        color: #bdbdbd;
    }
    .twitterRe {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #bdbdbd;
        border-radius: 30px;
        color: #bdbdbd;
    }
    .githubRe {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #bdbdbd;
        border-radius: 30px;
        color:#bdbdbd ;
    }
    .already {
        display: flex;
        justify-content: center;
        color:#bdbdbd;
        font-family: 'Noto Sans', sans-serif;
        font-size: 13px;
    }
    .methodRe {
        margin: 0;
        display: flex;
        align-items: center;
    }
    .inicio {
        background-color: white;
        border: none;
        color: #2F80ED;
        font-family: 'Noto Sans', sans-serif;
        font-size: 13px;
    }
}