body{
    width: 1350px;
    height: 550px;
    display: flex;
    justify-content: center;  
}


.profile {
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.profileTi {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titleProfile {
    margin: 0;
    font-size: 50px;
    color: #000;
    font-family: 'Raleway', sans-serif;
}



.perfil{
    display: flex;
    justify-content: right;
    gap: 15px;
}



.bigBox{
    width: 700px;
    height: 380px;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
}
.logout {
    display: flex;
    justify-content: center;
    align-items: center;
}
.subTiProfile{
    display: flex;
    justify-content: space-around;
    gap: 180px;
    align-items: center;
    border-bottom: 1px solid #dbdbdb;
}
.descript {
    display: flex;
    flex-direction: column;
}
.userPro {
    margin: 0;
    margin-top: 10px;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
}
.userSub {
    margin: 0;
    margin-bottom: 10px;
    color: #dbdbdb;
    font-family: 'Noto Sans', sans-serif;
    font-size: 13px;
}
.edit {
    width: 70px;
    height: 30px;
    background-color: white;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    color: #dbdbdb;
}




.photoProfile{
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 55px;
    border-bottom: 1px solid #dbdbdb;
    font-family: 'Noto Sans', sans-serif;
    font-size: 13px;
    gap: 130px;
}
.img {
    font-size: 12px;
    color: #dbdbdb;
}




.nameProfile{
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 55px;
    border-bottom: 1px solid #dbdbdb;
    gap: 130px;
}
.nameOne {
    font-size: 12px;
    color: #dbdbdb;
    font-family: 'Noto Sans', sans-serif;
}
.nombre {
    font-size: 15px;
    color: #000;
    font-family: 'Noto Sans', sans-serif;
    font-size: 13px;
}




.bioProfile{
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 55px;
    border-bottom: 1px solid #dbdbdb;
    font-family: 'Noto Sans', sans-serif;
    font-size: 13px;
    gap: 145px;
}
.nameTwo {
    font-size: 12px;
    color: #dbdbdb;
}





.phoneProfile{
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 55px;
    border-bottom: 1px solid #dbdbdb;
    font-family: 'Noto Sans', sans-serif;
    font-size: 13px;
    gap: 126px;
}
.nameThree {
    font-size: 12px;
    color: #dbdbdb;
}




.emailProfile{
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 55px;
    border-bottom: 1px solid #dbdbdb;
    font-family: 'Noto Sans', sans-serif;
    font-size: 13px;
    gap: 130px;
}
.nameFour {
    font-size: 12px;
    color: #dbdbdb;
}




.passProfile{
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 55px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 13px;
    gap: 105px;
}
.nameFive {
    font-size: 12px;
    color: #dbdbdb;
}


@media (max-width: 600px) {
    body{
        margin: 0;
        width: 370px;
        height: 660px;
        display: flex;
        justify-content: center;
        align-items: center;  
    }
    
    
    .profile {
        width: 360px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .profileTi {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .titleProfile {
        margin: 0;
        font-size: 30px;
        color: #000;
        font-family: 'Raleway', sans-serif;
    }
    
    
    
    .perfil{
        display: flex;
        justify-content: right;
        gap: 10px;
    }
    
    
    
    .bigBox{
        width: 350px;
        height: 500px;
        border: none;
        
    }
    .logout {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .subTiProfile{
        display: flex;
        justify-content: space-around;
        gap: 100px;
        align-items: center;
        border-bottom: 1px solid #dbdbdb;
    }
    .descript {
        display: flex;
        flex-direction: column;
    }
    .userPro {
        margin: 0;
        margin-top: 10px;
        font-family: 'Raleway', sans-serif;
        font-size: 20px;
    }
    .userSub {
        margin: 0;
        margin-bottom: 10px;
        color: #dbdbdb;
        font-family: 'Noto Sans', sans-serif;
        font-size: 10px;
    }
    .edit {
        width: 70px;
        height: 30px;
        background-color: white;
        border: 1px solid #dbdbdb;
        border-radius: 10px;
        color: #dbdbdb;
    }
    
    
    
    
    .photoProfile{
        height: 50px;
        display: flex;
        align-items: center;
        padding-left: 55px;
        border-bottom: 1px solid #dbdbdb;
        font-family: 'Noto Sans', sans-serif;
        font-size: 10px;
        gap: 130px;
    }
    .img {
        font-size: 12px;
        color: #dbdbdb;
    }
    
    
    
    
    .nameProfile{
        height: 50px;
        display: flex;
        align-items: center;
        padding-left: 55px;
        border-bottom: 1px solid #dbdbdb;
        gap: 130px;
    }
    .nameOne {
        font-size: 10px;
        color: #dbdbdb;
        font-family: 'Noto Sans', sans-serif;
    }
    .nombre {
        color: #000;
        font-family: 'Noto Sans', sans-serif;
        font-size: 10px;
    }
    
    
    
    
    .bioProfile{
        height: 50px;
        display: flex;
        align-items: center;
        padding-left: 55px;
        border-bottom: 1px solid #dbdbdb;
        font-family: 'Noto Sans', sans-serif;
        font-size: 10px;
        gap: 145px;
    }
    .nameTwo {
        font-size: 10px;
        color: #dbdbdb;
    }
    
    
    
    
    
    .phoneProfile{
        height: 50px;
        display: flex;
        align-items: center;
        padding-left: 55px;
        border-bottom: 1px solid #dbdbdb;
        font-family: 'Noto Sans', sans-serif;
        font-size: 10px;
        gap: 126px;
    }
    .nameThree {
        font-size: 10px;
        color: #dbdbdb;
    }
    
    
    
    
    .emailProfile{
        height: 50px;
        display: flex;
        align-items: center;
        padding-left: 55px;
        border-bottom: 1px solid #dbdbdb;
        font-family: 'Noto Sans', sans-serif;
        font-size: 10px;
        gap: 130px;
    }
    .nameFour {
        font-size: 10px;
        color: #dbdbdb;
    }
    
    
    
    
    .passProfile{
        height: 50px;
        display: flex;
        align-items: center;
        padding-left: 55px;
        font-family: 'Noto Sans', sans-serif;
        font-size: 10px;
        gap: 105px;
    }
    .nameFive {
        font-size: 10px;
        color: #dbdbdb;
    }
}